@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0fafb;
    font-family: 'League Spartan', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0;
}

.card {
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 1rem;
    border-left: 7px solid #66a7a6;
}

.left {
    display: flex;
    align-items: center;
    padding-left: 1.4vw;
}

.imageContainer {
    display: flex;
    align-items: center;
}

.image {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.para {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #7fb5b7;
    letter-spacing: 0.6px;
}

.heading {
    margin-top: 0.5vh;
    color: #394342;
    font-size: 1.5rem;
}

.para2 {
    display: flex;
    gap: 1.5rem;
    color: #7fb5b7;
    margin-top: 1vh;
    font-size: 0.9rem;
}

.paracontainer {
    display: flex;
    align-items: center;
}

.tagsleft {
    display: flex;
    gap: 0.5rem;
    margin-left: 1rem;
}

.tag {
    background-color: #66a7a6;
    color: white;
    padding: 0.3rem 0.7rem;
    border-radius: 16px;
    font-weight: bold;
    font-size: 0.8rem;
}

.right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.span {
    border-radius: 5px;
    background-color: #eef6f4;
    padding: 0.7vh 0.6vw;
    color: #5da5a4;
    font-size: 0.9rem;
}

.span:hover{
    background-color: #5ea4a0;
    color: white;
    font-weight: bolder;
}

button{
    border: none;
}
@media screen and (max-width : 650px) {
    
    .card {
        height: 22vh;
        display: flex;
        flex-direction: column;
    
    }
    .right {
        display: flex;
        align-items: center;
        margin-left: 1vw;
        margin-top: 12vh;
    }

    @media screen and (max-width : 450px) {
        .card {
            width: 106vw;
            height: 33vh;
        }
    }
}