*{
    margin: 0;
    padding: 0;
}
.image {
    width: 100%;
    background-color: #5da5a4;

}

@media screen and (max-width : 650px) {
    .image {
        width: 100%;
        height: 20vh;
    }
}